@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
